header{
    display:flex;
    background-color: mediumvioletred;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    
}

.icone{
    width: 20px;
}
.icone2{
    width: 20px;
    align-self: flex-end;
    justify-self: end;
}
.titulo{
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.menu{
    display: flex;
    background-color:#f2d0e0 ;
    flex-direction: column;
    flex-grow: 1;
    
        
}

.titulo-menu{
    text-decoration: none;
    color: black;
}

.itens{
    display: grid;
    flex-grow: 10 ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    row-gap: 20px;
    column-gap: 20px;
    padding: 10px;
}
.main{
    display: flex;

}
.produto{
    width: 200px;
    box-shadow: 20px darkgray;
    text-align: center;
    box-shadow:1px 2px 2px 5px darkgray inset;
}

footer{
    display: flex;
    background-color: mediumvioletred;
    justify-content: center;
    font-weight: bold;
}
